<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:xi="http://www.w3.org/2001/XInclude"
     xmlns:py="http://genshi.edgewall.org/" py:strip="">

  <py:def function="irclog_table(lines, extra_classes='', page_href='', missing=False)">
      <table class="irclog ${extra_classes}" py:if="not missing">
        <tr py:for="line in lines" class="${line['type']} ${line['hidden_user']}" >
          <td class="time">[<a href="${page_href}#${line['timestamp'].time()}" title="${line['timestamp'].time()}" id="${line['timestamp'].time()}">${line['timestamp'].time()}</a>]</td>
          <py:choose test="line['type']">
            <py:when test="'comment'">
              <td class="left" >&lt;<span class="${line['nick']}">${line['nick']}</span>&gt;</td>
              <td class="right">${line['type'] != 'comment' and line['nick'] + ' ' or '' }${line['comment']}</td>
            </py:when>
            <py:otherwise>
              <td></td><td><span class="${line['type']}">${line['message']}</span></td>
            </py:otherwise>
          </py:choose>
        </tr>
      </table>
  </py:def>

</div>
