<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:xi="http://www.w3.org/2001/XInclude"
     xmlns:py="http://genshi.edgewall.org/" py:strip="">

  <py:def function="irclog_table(lines, extra_classes='', page_href='', missing=False)">
      <table class="irclog ${extra_classes}" py:if="not missing">
        <tr py:for="line in lines" class="${line.mode} ${line.hidden_user}" >
          <td class="time">[<a href="${page_href}#${line['timestamp']}" title="${line['timestamp']}" id="${line['timestamp']}">${line['timestamp']}</a>]</td>
          <td class="left" py:if="line['type'] in ('action', 'server')">*</td>
          <td class="left" py:if="line['type'] == 'comment'">&lt;<span class="${line['nick']}">${line['nick']}</span>&gt;</td>
          <td class="right">${line['type'] != 'comment' and line['nick'] + ' ' or '' }${line['message']}</td>
        </tr>
      </table>
  </py:def>

</div>
